/bfg-1.13.0.jar
/sample_videos
/데이터_분석_결과.ipynb
/DX_3조_230609_2주차_데이터분석_개발목표.pptx
/PPT
/crawled_images
/rat.png
/test.ipynb
/ss.ipynb
/torquemetrics.ipynb
/230624_DX_3조_제안서(일부).pdf
/PitchGuard_가격산정근거.pdf
/_논문모음
/_0619
/solutionlogo/_기본_빨간배경.png
/solutionlogo/_기본_수평.png
/solutionlogo/_기본_회색조.png
/solutionlogo/_기본.png
/solutionlogo/_로고아이콘.png
/solutionlogo/_로고최종.png
/solutionlogo/_로고확장2.png
/solutionlogo/_로고확장3.png
/_angle.ipynb
/_anova.ipynb
/_baseinfo.csv
/torque/202306120201192.csv
/torque/2023061202011922.csv
/torque/202306120202025.csv
/torque/elbowtorque
/torque/shouldertorque
/treatment_videos/shoulder_1.mp4
/treatment_videos/shoulder_2.mp4
/treatment_videos/shoulder_3.mp4
/_shoulder_loop.ipynb
/_shoulder.ipynb
/_torque.ipynb
/_torquecalculation.ipynb
/_imagecrawler.ipynb
/_wrist_loop.ipynb
/_wrist.ipynb
/_extras.ipynb
/_injury_recsys.csv
/_pitchers.csv