/bfg-1.13.0.jar
/sample_videos
/데이터_분석_결과.ipynb
/DX_3조_230609_2주차_데이터분석_개발목표.pptx
/PPT
/crawled_images
/rat.png
/test.ipynb
/ss.ipynb
/torquemetrics.ipynb
/230624_DX_3조_제안서(일부).pdf
/PitchGuard_가격산정근거.pdf
/faketorque.ipynb